<%- include("partials/header"); -%>
      <div class="searchAnswers">
        <div class="col"><h3>IP Address</h3>
            <p> <%= ip %> </p>
        </div>
        <div class="col"><h3>Location</h3>
            <p> <%= city + ', ' + state %> </p>
        </div>
        <div class="col">
          <h3>Timezone</h3>
            <p> <%= 'UTC ' + timezone %> </p>
        </div>
        <div class="col"><h3>ISP</h3>
            <p> <%= isp %> </p>
        </div>
      </div>
    </div>
    <div id="map"></div>
      <script>
        const map = L.map('map').setView([<%=lat%>, <%=lng%>], 15);
        L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=rdkFPPXE6QWu5b7QkDgF', {
          attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        }).addTo(map);

        const arrowIcon = L.icon({
         iconUrl: 'images/icon-location.svg',
         
         iconSize: [38, 50],
         iconAnchor: [10, 10]
        });

        const marker = L.marker([<%=lat%>, <%=lng%>], {icon: arrowIcon}).addTo(map);
      </script>
    <%- include("partials/footer"); -%>